<template>
  <div class="flex border-b border-secondary py-4 mt-2">
    <div class="w-9/12">
      <h2 class="text-secondary font-bold mb-4">{{ job?.title }}</h2>
      <span class="meta">{{ job?.jobType }}</span>
      <span class="meta">{{ job?.languageLevels }}</span>
      <span class="meta">{{ job?.company?.name }}</span>

      <span class="block font-bold mt-2">Region: {{ job?.address?.town }}</span>
    </div>
    <div class="w-3/12 flex flex-col justify-between text-right">
      <AtomButton class="mt-2 w-full" content="Approve" type="primary" @click="approveJob"></AtomButton>
      <AtomButton class="mt-2 w-full" content="Delete" type="primary" @click="declineJob"></AtomButton>

      <span class="meta">{{ whichTime(new Date(job?.createdAt)) }}</span>
    </div>
  </div>
</template>
<script lang="ts" setup>
import useDate from "../../composables/date";

const config = useRuntimeConfig();

const props = defineProps<{
  job: {
    createdAt: Date;
    jobType: String;
    id: number;
    languageLevels: String;
    company: { name: String };
    address: { town: String };
    title: String;
  };
}>();

async function declineJob() {
  console.log(props.job?.id)
  // construct query params
  let queryParams = `page=${props.job?.id}`;

  this.result = await fetch(`${config.apiUrl}/v1.0/jobs/decline?${queryParams}`, {
      method: 'POST'}).then(res =>
      res.json()
  )
}

async function approveJob() {
  let queryParams = `page=${props.job?.id}`;

  this.jobs = await fetch(`${config.apiUrl}/v1.0/jobs/approve?${queryParams}`, {
    method: 'POST'}).then(res =>
      res.json()
  )

}

const whichTime = (time: Date) => {
  // if posting is older than 10 minutes display date
  if (new Date().getTime() - 10 * 60 * 1000 <= time.getTime()) {
    return "just added";
  }
  return useDate(time);
};
</script>

<style lang="scss" scoped>
.meta {
  @apply text-gray-500 block;
}

.goto {
  transform: rotate(180deg);
}
</style>
