<template>
  <AtomInput
    v-model="searchedValue"
    placeholder="Type to search"
    type="text"
    class="search-input"
  />
</template>

<script lang="ts" setup>
const searchedValue = ref("");
</script>

<style lang="scss" scoped>
.search-input {
  @apply w-64;
}
</style>