<template>
  <div class="mt-2 lg:w-9/12 mx-auto">
    <div class="bg-slate-100 h-56 items-end justify-center p-4 flex">
      <AtomHeadline
          type="h2"
          text="Badwords admin panel"
      ></AtomHeadline>
    </div>

    <div class="grid gap-6 lg:grid-cols-3 mt-10">
      <div class="w-full px-4 py-2 border-gray-200 rounded-lg dark:border-gray-600 border border-secondary"
           v-for="(word, index) in badWords">
        <span>{{ word }}</span>
        <button class="float-right" @click="onRemoveBadword(index)">x</button>
      </div>
      <form @submit.prevent="onAddBadWord">
        <div class="relative">
          <input id="add"
                 class="w-full px-4 py-2 border-gray-200 rounded-lg dark:border-gray-600 border-2 border-primary"
                 placeholder="single badword or comma separated list.."
                 v-model="newWordValue"
                 required>
        </div>
      </form>
    </div>

    <div class="submit pt-4">
      <AtomButton
          class="w-full"
          type="secondary"
          content="Update"
          @click="onUpdateBadWords(badWords)"
      />
    </div>
    <div class="text-right">
      <AtomHeadline
          v-if="isError"
          class="mb-2 text-red-500"
          type="h5"
          text="Something went wrong"
      />
      <AtomHeadline
          v-if="isSuccess"
          class="mb-2 text-green-500"
          type="h5"
          text="Successfully saved"
      />
    </div>
  </div>

</template>

<script lang="ts" setup>

const config = useRuntimeConfig();
let isError = ref(false);
let isSuccess = ref(false);

let newWordValue = ref('');

const fetchBadwords = async () => {
  isError.value = false;
  try {
    const response = await fetch(`${config.apiUrl}/v1.0/badwords`);
    if (response.ok) {
      const body = await response.json();
      return body['_embedded'] ? (body['_embedded']['badwordDtoes'] as Array<object>).map(badword => badword['word']) : [];
    }
  } catch (error) {
    console.log(error)
    isError.value = true;
  }
  return [];
}
let badWords = ref([]);
badWords.value = await fetchBadwords();

const onAddBadWord = () => {
  let inputValue = newWordValue.value;
  if (inputValue) {
    isError.value = false;
    isSuccess.value = false;
    const value = inputValue.includes(',') ? inputValue.split(',').filter(item => item) : [inputValue];
    badWords.value.push(...value)
    newWordValue.value = '';
  }
}

const onRemoveBadword = (index) => {
  badWords.value.splice(index, 1);
}

const onUpdateBadWords = async (words) => {
  isError.value = false;
  isSuccess.value = false;
  let body = words.length > 0 ? words.map(word => ({word})) : [];
  const requestOptions = {
    method: "POST",
    body: JSON.stringify(body),
    headers: {"Content-Type": "application/json"},
  };

  try {
    const response = await fetch(`${config.apiUrl}/v1.0/badwords`, requestOptions);
    if (!response.ok) {
      isError.value = true;
    } else {
      isSuccess.value = true;
    }
  } catch (error) {
    isError.value = true;
  }
}
</script>