<template>
  <div class="job-list mx-auto md:px-0 px-2 mt-4">
    <AtomHeadline type="h1" text="Delete/Approve jobs with bad words"></AtomHeadline>
    <p
        class="text-xl my-2 font-extralight">
      >Showing {{ jobs?.length }} jobs</p>
    <MoleculeJobListItemDelete v-for="job in jobs" :key="job?.id" :job="job"></MoleculeJobListItemDelete>
    <!--    <AtomButton class="mt-2 w-full" content="Load more" type="primary" @click="loadJobs"></AtomButton>-->
  </div>
</template>

<script lang="ts" setup>
// const config = useRuntimeConfig();

const jobs = [
  {
    createdAt: new Date("01/01/2022"),
    title: "UI Designer",
    id: 1,
    details: "Pune",
    jobType: "Free Lancing",
    address: {town: "Pune", country: "India"},
  },
  {
    createdAt: new Date("10/10/2021"),
    title: "Developer",
    id: 2,
    details: "Pune",
    jobType: "Part time-No Work Experience Necessary",
    address: {town: "Mumbai", country: "India"},
  },
  {
    createdAt: new Date(),
    title: "Product Manager",
    id: 3,
    details: "Pune",
    jobType: "Full-time Students can apply",
    address: {town: "Delhi", country: "India"},
  },
]

// const {jobs} = await useAsyncData('jobs', () => $fetch(`${config.apiUrl}/v1.0/jobs`))

// async fetch() {
//   this.jobs = await fetch(`${config.apiUrl}/v1.0/jobs`).then(res =>
//       res.json()
//   )
// }
// }

</script>
<style lang="scss" scoped>
.job-list {
  max-width: auto;
}

.btn-width {
  width: 600px;
  text-align: center;
  margin: auto;
  position: fixed;
  display: flex;
}
</style>
