<template>
    <select class="input" :value="modelValue" @input="onChange">
        <option
            v-for="option in props.options"
            :key="option.value"
            :value="option.value"
        >{{ option?.title }}</option>
    </select>
</template>

<script setup lang="ts">
const props = defineProps<{
    type: string
    modelValue?: string,
    options?: Array<{ title: string, value: string | number }>
}>();

const emit = defineEmits(['update:modelValue']);

const onChange = (event: Event) => {
    const target = event.target as HTMLInputElement;
    emit('update:modelValue', target.value)
}
</script>
<style lang="scss" scoped>
.input {
    @apply py-2 px-3 rounded-lg border-secondary border w-full;
}
</style>