<template>
  <div class="sticky top-0 z-50 bg-white">
    <div class="flex items-center justify-between py-4 px-4">
      <NuxtLink href="/">
        <img class="h-10" src="@/assets/Logo_JobAidUkraine.svg"/>
      </NuxtLink>
      <nav>
        <section class="flex lg:hidden">
          <div
              class="space-y-2 flex flex-col"
              @click="isNavOpen = !isNavOpen"
          >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-10 w-10"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
            >
              <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
            <span class="text-xs text-center" style="margin-top: 0"
            >MENU</span
            >
          </div>

          <div
              :class="isNavOpen ? 'showMenuNav' : 'hideMenuNav'"
              class="flex-start"
          >
            <div
                class="flex items-center justify-between w-full py-4 px-4 absolute top-0"
            >
              <NuxtLink href="/">
                <img
                    class="h-10"
                    src="../../assets/Logo_JobAidUkraine.svg"
                />
              </NuxtLink>
              <div
                  class="flex flex-col"
                  @click="isNavOpen = false"
              >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-10 w-10"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                >
                  <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
                <span
                    class="text-xs text-center"
                    style="margin-top: 0"
                >CLOSE</span
                >
              </div>
            </div>
            <div class="w-full px-4">
              <ul class="space-y-8 mb-6">
                <li>
                  <NuxtLink to="/">Home</NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/">Support Services</NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/"
                  >FAQs for Job Seekers
                  </NuxtLink
                  >
                </li>
                <li>
                  <NuxtLink to="/"
                  >FAQs for Employers
                  </NuxtLink
                  >
                </li>
                <li>
                  <NuxtLink to="/">Post a Job</NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/">Our Partners</NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/">Contact Us</NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/admin/deleteJob">Admin</NuxtLink>
                </li>
              </ul>
              <!-- <button class="bg-gray-300 hover:bg-gray-400 py-3 px-20 rounded">Login (for Employers)</button> -->
              <AtomButton
                  class="mt-2 py-3 w-full"
                  content="Login (for Employers)"
                  type="primary"
              ></AtomButton>
            </div>
          </div>
        </section>
        <section class="hidden lg:block">
          <div class="w-full px-4">
            <ul class="flex">
              <li class="pr-4">
                <NuxtLink to="/">Home</NuxtLink>
              </li>
              <li class="pr-4">
                <NuxtLink to="/">Support Services</NuxtLink>
              </li>

              <li class="pr-4 flex items-center">
                <NuxtLink to="/">FAQs</NuxtLink>
                <div
                    id="dropdownDefault"
                    data-dropdown-toggle="dropdown"
                >
                  <svg
                      class="w-4 h-4 ml-2"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"
                    ></path>
                  </svg>
                </div>
              </li>
              <li class="pr-4">
                <NuxtLink to="/">Post a Job</NuxtLink>
              </li>
              <li class="pr-4">
                <NuxtLink to="/">Our Partners</NuxtLink>
              </li>
              <li class="pr-4">
                <NuxtLink to="/">Contact Us</NuxtLink>
              </li>
              <li>
                <NuxtLink to="/admin/deleteJob">Admin</NuxtLink>
              </li>
              <li>
                <NuxtLink to="/">Login</NuxtLink>
              </li>
            </ul>
          </div>
        </section>
      </nav>
    </div>
    <OrganismLanguageTab/>
  </div>
</template>

<script lang="ts">
import {defineComponent, ref} from "vue";

export default defineComponent({
  setup() {
    const isNavOpen: Object = ref(false);
    return {
      isNavOpen,
    };
  },
});
</script>

<style scoped>
.hideMenuNav {
  display: none;
}

.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
</style>
